@inherits BaseComponent

<MudCard Class="p-3 m-2 rounded" Style="height: 100%">
    <MudText Typo="Typo.h4">@Name</MudText>
    <Spacer />
    <img src="@ImageSrc" alt="Logo" width="100" height="100" />
    <Spacer />
    <div>
        @ChildContent
    </div>
</MudCard>

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public string ImageSrc { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
