.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mud-container-maxwidth-lg {
    max-width: 1400px;
}

.centered {
    display: flex;
    justify-content: center;
    height: 100%;
}

img {
    width: 40px;
    height: 40px;
}